.about-me-header {
  /* padding-bottom: 2rem; */
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-me-img-div {
  height: 100px;
  width: 100px;
  border-radius: 2rem;
  overflow: hidden;
}

.about-me-img {
  height: 100%;
  width: 100%;
}

.about-me-header::after {
  content: "";
  width: 50px;
  height: 6px;
  background: var(--secondarycolor);
  position: absolute;
  bottom: 0;
  border-radius: 1rem;
  box-shadow: -5px 5px 5px rgba(15, 15, 20, 0.55) inset;
}

.about-me-blurb {
  line-height: 2.5rem;
}
