.samples-section {
  padding: 5rem 0;
}

.samples {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.sample-item {
  height: 400px;
  width: 400px;
  position: relative;
  /* background: var(--mainbg); */
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  margin: 0 auto;
  /* justify-content: center; */
}

.sample-img-a-div {
  height: 325px;
  width: 350px;
  box-shadow: 3px 5px 15px var(--boxshadow);
}

.sample-img-a,
.sample-img-b {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.sample-img-b-div {
  height: 175px;
  width: 175px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(5deg) translateX(2rem);
  box-shadow: 3px 5px 15px var(--boxshadow);
  /* border: 3px solid green; */
}

.sample-title-div {
  width: 100%;
  padding: 2.5rem;
  font-weight: 300;
}

.sample-title {
  font-weight: 200;
  background: var(--mainbg);
  width: fit-content;
  padding: 0.25rem 3rem;
  transform: skew(-15deg);
  border-bottom: 2px solid var(--secondarycolor);
}

@media screen and (max-width: 650px) {
  .sample-item {
    height: 350px;
    width: 100%;
  }
  .samples {
    flex-direction: column;
  }

  .sample-img-b-div {
    height: 150px;
    width: 150px;
    transform: rotate(5deg) translateX(1rem);
  }
}
