.contact-form-section {
  margin-top: 3.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* border: 2px solid red; */
}

.contact-form {
  width: 100%;
  padding: 2rem 0rem;
}

.form-row {
  display: flex;
  gap: 2rem;
}
.form-div {
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--mainbg);
  color: var(--maincolor);
  outline: none;
  border: none;
}

.form-text {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  padding: 1rem;
  font-family: var(--mainFont);
  background: var(--mainbg);
  color: var(--maincolor);
  outline: none;
  border: none;
}

.form-error-div {
  width: 100%;
  text-align: end;
  height: 17.5px;
}

.error-text {
  /* color: red; */
  transition: 0.5s ease;
}

.hide-error {
  filter: blur(100px);
}

.form-btn {
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.25;
  cursor: pointer;
  background: transparent;
  border: none;
  background: var(--mainbg);
  color: var(--maincolor);
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  text-shadow: 0px 0px 2px var(--mainbg);
}

.btn-overlay {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.btn-overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 45%;
  width: 65%;
  filter: blur(15px);
  height: 4px;
  background: var(--secondarycolor);
}

.contact-progress {
  /* position: absolute; */
  /* border: 2px solid var(--mainbg); */
  /* border: 2px solid orange; */
  width: clamp(45%, 350px, 100%);
  /* left: 245px;
  top: 2rem; */
  height: 10px;
  margin-top: 1rem;
  border-radius: 1rem;
  position: relative;
}

.celebrate-progress {
  animation: celebrateprogress 1.5s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes celebrateprogress {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.2);
  }
  75% {
    transform: scaleX(0);
  }
  100% {
    width: 0px;
    transform: scaleX(1);
  }
}

.email-progress {
  position: absolute;
  background: var(--secondarycolor);
  width: 0%;
  overflow: hidden;
  height: 100%;
  left: 0;
  filter: blur(2px);
  color: black;
}

.hide-toaster {
  animation: hide-toaster 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes hide-toaster {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-1.5rem);
  }
  50% {
    transform: scaleX(0.5) translateX(-0.5rem);
  }
  100% {
    transform: scaleX(0.25) translateX(100rem);
  }
}

.show-toaster {
  transform: translateX(100rem) scaleX(1);
  animation: show-toaster 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes show-toaster {
  100% {
    transform: scaleX(1) translateX(0);
  }
}

.email-toaster {
  background: var(--mainbg);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.check-div {
  height: 40px;
  width: 40px;
  background: var(--secondarycolor);
  color: var(--mainbg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 50%;
}

.email-toaster-column {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 0.5s ease;
  filter: blur(100px);
}

.blur-content {
  transition: 0.5s ease;
  filter: blur(100px);
}

.unblur-content {
  transition: 0.5s ease;
  filter: blur(0px);
}

.close-btn {
  border-radius: 1rem;
  background: transparent;
  color: white;
  font-size: 3rem;
  font-weight: 200;
  border: none;
  cursor: pointer;
}

.toaster-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: var(--secondarycolor);
  width: 100%;
  transform-origin: left;
}
