.contact-form-section {
  margin-top: 3.5rem;
  width: 100%;
  border: 2px solid red;
}

.contact-form {
  width: 100%;
  padding: 2rem 0rem;
}

.form-row {
  display: flex;
  gap: 2rem;
}
.form-div {
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-text {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  padding: 1rem;
  font-family: var(--mainFont);
}

.form-error-div {
  width: 100%;
  text-align: end;
  height: 17.5px;
}

.error-text {
  /* color: red; */
  transition: 0.5s ease;
}

.hide-error {
  filter: blur(100px);
}

.form-btn {
  padding: 1.25rem 4rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.25;
  cursor: pointer;
}
