.clear-blur {
  filter: blur(100px);
  animation: clearblur var(--duration) var(--delay) forwards;
}

@keyframes clearblur {
  100% {
    filter: blur(0px);
  }
}

.fade-out-blur {
  animation: fade-out-blur var(--duration) var(--delay) forwards;
}

@keyframes fade-out-blur {
  100% {
    filter: blur(100px);
  }
}

.translate-y-down {
  animation: translate-y-down var(--duration) var(--delay) forwards;
}

@keyframes translate-y-down {
  100% {
    transform: translateY(15rem);
  }
}

.translate-x-right {
  animation: translate-x-right var(--duration) var(--delay) forwards;
}

@keyframes translate-x-right {
  100% {
    transform: translate(15rem);
  }
}

.restore-x-right {
  transform: translateX(15rem);
  animation: restore-x-right var(--duration) var(--delay) forwards;
}

@keyframes restore-x-right {
  100% {
    transform: translateX(0rem);
  }
}

.translate-to-zero {
  transform: translateY(15rem);
  animation: translate-to-zero var(--duration) var(--delay) forwards;
}

@keyframes translate-to-zero {
  100% {
    transform: translateX(0);
  }
}

/* @keyframes scale-to-one {
  100% {
    transform: scale(1);
  }
} */
