@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Rock+Salt&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rgba(245, 245, 245, 0.5),
    5px 5px 15px rgba(245, 245, 245, 0.1 */

:root {
  --strongblack: rgb(5, 5, 5);
  --black: rgb(20, 20, 20);
  --lightblack: rgb(35, 35, 35);
  --darkboxshadow: rgba(245, 245, 245, 0.5);
  --limeshadow: rgba(187, 255, 0, 0.65);
  --blueshadow: rgba(0, 217, 255, 0.25);
  --darkboxshadowinset: rgba(245, 245, 245, 0.1);
  --strongwhite: rgb(255, 255, 255);
  --white: rgb(225, 225, 225);
  --lightwhite: rgb(210, 210, 210);
  --lightboxshadow: rgb(15, 15, 15, 0.5);
  --lightboxshadowinset: rgba(15, 15, 15, 0.1);
  --teal: rgb(25, 112, 112);
  --blue: rgb(0, 217, 255);
  --lime: rgb(187, 255, 0);
  --mainPaddingX: 4rem;
  --rocksaltfont: "Rock Salt", cursive;
  --mavenfont: "Maven Pro", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.7rem;
}

h5,
p {
  font-size: 1.5rem;
}

@media screen and (max-width: 1050px) {
  :root {
    --mainPaddingX: 2rem;
  }
  h3 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --mainPaddingX: 2rem;
  }
  h1 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5,
  p {
    font-size: 1.2rem;
  }
}
